<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>211781369973-fm2fvojcg3kkmpkc2124rf6ieqq9n9s8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211781369973-fm2fvojcg3kkmpkc2124rf6ieqq9n9s8</string>
	<key>API_KEY</key>
	<string>AIzaSyDWyekUp7xHdUWiuA-d21i8O36a_srIYIs</string>
	<key>GCM_SENDER_ID</key>
	<string>211781369973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kwang.ExploreWorld-1-0</string>
	<key>PROJECT_ID</key>
	<string>exploreworld-89a78</string>
	<key>STORAGE_BUCKET</key>
	<string>exploreworld-89a78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:211781369973:ios:4e6be2fa8596f84c</string>
	<key>DATABASE_URL</key>
	<string>https://exploreworld-89a78.firebaseio.com</string>
</dict>
</plist>